
nav {
  height: 80px;
  background-color: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;    
  list-style-type: none;    
  }
nav div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
nav img {
  width: 120px;
  height: 25px;
}
nav li {
  color: #bbb;
  padding: 28px 17px;
}

.logo{
  padding-top: 1%;
}

.mobile-nav{display: none;}

@media screen and (max-width:600px) {
  .pc-nav{display: none;}
  .mobile-nav{display: flex;flex-wrap: wrap;justify-content: center;padding: 5% 0;}
  .mobile-nav>div{padding: 0 3%}
  .mobile-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .mobile-logo img{width: 30%;}
}